{% extends "base.html" %}



{% block title %} View session {% endblock %}

{% block content %}
    <h1>View session</h1>
    <div>
        Session <code>{{ session_id }}</code>:
        <ul>
            <li>User: <a href="{{url_for('main.show_user', user_id=session['user_id'])}}">{{ user_id }}</a></li>
            <li>Device: <code>{{ device }}</code></li>
        </ul>
    </div>
    <table class="table">
      <thead>
      <tr>
          <th>Request</th>
          <th>Response text</th>
          <th>Time</th>
          <th>Handler</th>
      </tr>
      </thead>
      <tbody>
      {% for item in messages %}
      <tr>
          <td>{{item.text}}</td>
          <td>{{item.response_text}}</td>
          <td>{{item.timestamp}}</td>
          <td><a href="{{ url_for('main.show_handler', handler_name=item.handler) }}">{{item.handler}}</a></td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
{% endblock %}
