{% extends "base.html" %}



{% block title %} View session {% endblock %}

{% block content %}
    <h1>View session</h1>
    <div>
        Session <code>{{ session.data.session.session_id }}</code>:
        <ul>
            <li>User: <a href="{{url_for('main.show_user', user_id=session['user_id'])}}">{{session.user_id}}</a></li>
            <li>Device: <code>{{session.data.meta.client_id}}</code></li>
        </ul>
    </div>
    <table class="table">
      <thead>
      <tr>
          <th>Request</th>
          <th>Response text</th>
          <th>Time</th>
      </tr>
      </thead>
      <tbody>
      {% for item in messages %}
      <tr>
          <td>{{item.text}}</td>
          <td>{{item.response[0].text}}</td>
          <td>{{item.timestamp}}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
{% endblock %}
